sudo: required
dist: xenial
# Force travis to use its minimal image with default Python settings
language: generic
compiler:
  - gcc
notifications:
  email:
    on_success: always
    on_failure: always
    recipients:
      - gm130s@gmail.com
env:
  global:
    - export DISPLAY=:99.0
    - export REPOSITORY_NAME="${TRAVIS_REPO_SLUG##*/}"
    - export CI_SOURCE_PATH="$TRAVIS_BUILD_DIR"
  matrix:
    - HOSTNAME=130s-kudu1
    - HOSTNAME=130s-p50
    - HOSTNAME=130s-serval
    - HOSTNAME=130s-t440s
install:
  - ./script/install_ubuntu_common.sh $HOSTNAME true
#  - source /opt/ros/$CI_ROS_DISTRO/setup.bash
script:
#  - ./test/test_overall_travis.sh  # Test might have to be run BEFORE any after_* section. See https://docs.travis-ci.com/user/customizing-the-build#Breaking-the-Build
